<template>
  <div class="claimWrapper">
    <h1 class="claim">Welcome to the outer space xD</h1>
    <p class="subclaim">
      Voluptate consequat cupidatat dolore Lorem amet nostrud ea labore sunt laboris incididunt ut
      est Lorem. Eiusmod ea ea sunt exercitation aliqua ipsum do consequat velit eiusmod labore qui.
      Incididunt ea aliquip occaecat dolor.
    </p>
    <p class="subclaim">
      Type something space-related:
    </p>
  </div>
</template>

<script>
export default {
  name: 'Claim',
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.claimWrapper {
  display:flex;
  max-width:800px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.claim {
  font-size:50px;
  text-align: center;
  margin: 0;
  color: #fff;
}

.subclaim {
  margin: 20px 0 0 0;
  font-size:16px;
  color: #fff;
}
</style>
