<template>
<div class="heroImage"></div>
</template>

<script>
export default {
  name: 'HeroImage',
};
</script>

<style scoped lang="scss">
.heroImage {
    position: fixed;
    top:0;
    z-index:-1;
    height:100vh;
    width:100%;
    background-image:url('../assets/heroimage.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:65% 0%;
    &::after {
        content:'';
        background: rgba(0,0,0, .5);
        position: absolute;
        top:0;
        left:0;
        z-index:1;
        width:100%;
        height:100%;
    }
}
</style>
