    <template>
      <!-- <div v-for="item in results" :key="item.data[0].nasa_id"> -->
        <!-- <p>{{ item.links[0].href }}</p> -->
       <div :style="style" class="item">

    </div>
</template>

<script>
export default {
  name: 'Item',
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      photo: this.item.links[0].href,
      title: this.item.data[0].title,
      // style: {
      // eslint-disable-next-line
        // backgroundImage: `url('$this.photo}')`,
      // },
    };
  },
  computed: {
    style() {
      // eslint-disable-next-line
      return `background-image: url("${this.photo}")`;
    },
  },
};
</script>

<style lang="scss" scoped>
  .item {
    min-width:40vw;
    height:250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:50%;
    @media (min-width:768px)
    {
      width:25vw;
    }
  }
</style>
