<template>
<div class="outerWrapper">
    <div class="innerWrapper">
        <div class="photo">
<!-- <img src="@/assets/pepe.png"> -->
<img :src="photo">
        </div>

    <div class="description">
        <h2 class="title">{{ title }}</h2>
        <p class="description">
{{ description }}
        </p>
    </div>
    </div>
<div class="close" @click="$emit('closeModal')" />
    </div>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      photo: null,
      title: null,
      description: null,
    };
  },
  mounted() {
    this.photo = this.item.links[0].href;
    this.title = this.item.data[0].title;
    this.description = this.item.data[0].description.substring(0, 200);
  },
};
</script>

<style lang="scss" scoped>
.outerWrapper {
background: #f6f6f6;
max-width:100%;
height:100%;
position:fixed;
top:0;
left:0;
padding: 10px;

@media (min-width:1024px){
max-width:50%;
height:60%;
left:0;
right:0;
bottom:0;
margin: auto;
box-shadow: 0 40px 40px -20px rgba (0,0,0,.4);
// padding:25px;
}
}
.innerWrapper {
color:#000;
display: flex;
height:100%;
justify-content: center;
align-items: center;
flex-direction: column;
// padding:15px;

@media (min-width:1024px){
flex-direction: row;
padding:0;

.photo {
width: 50%;
}
}

}
.photo {
padding:0px 25px;
width:100%;
// height:100%;
// background:black;
// background-size: cover;
// background-position: 75%;
img {
max-width:100%;
}
}

.close {
position: absolute;
width:30px;
height:30px;
padding:30px;
right:0;
top:0;
cursor:pointer;
&::after,
&::before {
position: absolute;
content: '';
top:20px;
right:20px;
width:25px;
height:5px;
background: black;
}
&::after {
transform: rotate(-45deg);
}

&::before {
transform: rotate(45deg);
}
}

</style>
