<template>
    <div class="search">
      <input
        id="search"
        name="search"
        :class="{ dark }"
        placeholder="Dd"
        :value="value"
        @input="handleChange"
      />
  </div>
</template>

<script>
export default {
  name: 'SearchInput',
  props: {
    value: {
      type: String,
      required: true,
    },
    dark: {
      type: Boolean,
      deault: false,
    },
  },
  methods: {
    handleChange(e) {
      this.$emit('input', e.target.value);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

  input {
    margin-top:50px;
    color: #fff;
    text-align: center;
    font-size:20px;
    font-weight:300;
    height: 30px;
    border: 0;
    background: none;
    border-bottom: 1px solid white;
    transition: box-shadow .5s ease-in-out;
    &:focus {
        outline:none;
        box-shadow: 0 1px 25px -8px rgba(255,255,255, .4);
    }
    &::placeholder {
        color: #fff;
    }

}
    .dark input::placeholder {
    color: #000;
    }
    .dark {
        color: #000;
        border-bottom-color: #000;
    }
    .dark:focus {
        box-shadow: 0 1px 25px -8px rgba(0,0,0, .4);
    }
</style>
