<template>
  <div :class="[{ flexStart: step === 1 }, 'wrapper']">
    <transition name="slide">
    <img src="./assets/pepe.png" class="logo" v-if="step === 1">
    </transition>
    <transition name="fade">
      <HeroImage v-if="step === 0"/>
    </transition>
    <Claim v-if="step === 0" />
    <SearchInput v-model="searchValue" @input="handleInput" :dark="step === 1"/>
  <div class="results" v-if="results && !loading && step === 1">
    <Item v-for="item in results"
    :item="item"
    :key="item.data[0].nasa_id"
    @click.native="handleModalOpen(item)"/>
  </div>
  <div class="loader" v-if="step === 1  && loading"/>
  <Modal v-if="modalOpen" :item="modalItem" @closeModal="modalOpen = false"/>
  <!-- <Modal /> -->
    </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios';
import debounce from 'lodash.debounce';
import Claim from '@/components/Claim.vue';
import SearchInput from '@/components/SearchInput.vue';
import HeroImage from '@/components/HeroImage.vue';
import Item from '@/components/Item.vue';
import Modal from '@/components/Modal.vue';

const API = 'https://images-api.nasa.gov/search';
export default {
  name: 'App',
  components: {
    Claim, SearchInput, HeroImage, Item, Modal,
  },
  data() {
    return {
      modalOpen: false,
      modalItem: null,
      loading: false,
      step: 0,
      searchValue: '',
      results: [],
    };
  },
  methods: {
    handleModalOpen(item) {
      this.modalOpen = true;
      this.modalItem = item;
    },
    // eslint-disable-next-line
    handleInput: debounce(function () {
      this.loading = true;
      axios.get(`${API}?q=${this.searchValue}&media_type=image`)
        .then((response) => {
          this.results = response.data.collection.items;
          this.loading = false;
          this.step = 1;
        });
    }, 500),
  },
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800&display=swap');

* {
  box-sizing:border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight:600;
  margin:0;
  padding:0;
  color:#fff;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 1.5s ease;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: margin-top .9s ease;
}

.slide-enter, .slide-leave-to /* .slide-leave-active below version 2.1.8 */ {
  margin-top: -30px;
}

.wrapper {
  margin: 0;
  width: 100%;
  min-height:100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &.flexStart {
    justify-content:  flex-start;
  }
  .logo {
    left:0px;
    top:-10px;
    width:125px;
    height:125px;
    position: absolute;
    filter: drop-shadow(9px 5px 11px #222);
  }
}
p {
  color: #000;
}

.results {
  margin:50px 15px 0 15px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  @media (min-width: 1024px) {
      width:90%;
  grid-template-columns: 1fr 1fr;
  }
  .item {
    cursor: pointer;
  }
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top:150px;
  @media (min-width: 768px) {
    width: 200px;
    height: 200px;
  }
}
.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #060;
  border-color: #060  transparent #060 transparent;
  animation: loading 1.2s infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}


</style>
